.App {
  text-align: center;
}

.App p{
  font-size:20px;
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:10vh;
  background: rgb(7, 146, 192);

}

.nav-links{
  width:40%;
  display:flex;
  justify-content:space-around;
  align-items: center;
  list-style:none;
}

li{
  padding:16px;
  text-decoration: none;
}

li:hover{
  cursor: pointer;
  background-color:rgb(111, 163, 180);
  border-radius:1px;
}
